include includes/head
	title Ошибка | SuperForms
body
	header.error
		nav.container
			- if (isUser)
				- if (isAdmin)
					a(href='/users') Пользователи
				a(href='/journal') Журнал
				a(href='/forms') Формы
				include includes/signout
			- else 
				include includes/signin

	div.container.message
		h2 Извините, произошла ошибка.
		h4 #{error.message}