include includes/head
	title Главная | SuperForms
	link(rel="stylesheet", href="/styles/react-widgets.css")
body
	header.forms
		nav.wide.container
			- if (isAdmin)
				a.pre-active(href='/users') Пользователи
			div.triangle.triangle-left
			a.active Формы
			div.triangle.triangle-right
			include includes/signout
	
	div.wide.container.create-form
		a.btn.btn-success(href="/forms/new") Создать форму 
	div#root.wide.container
	script#config(type="application/json").
		!{JSON.stringify(config)}
	script(type="text/javascript", src="/scripts/main.js")