include includes/head
	title Главная | SuperForms
	link(rel="stylesheet", href="/styles/react-widgets.css")
body
	header.forms
		nav.wide.container
			- if (isAdmin)
				a.pre-active(href='/users') Пользователи
			div.triangle.triangle-left
			a.active Формы
			div.triangle.triangle-right
			include includes/signout
	
	div.wide.container.create-form
		a.btn.btn-success(href="/forms/new") Создать форму 
	div#root.wide.container
	script#info(type="application/json").
		{
			"getUrl": "/api/forms",
			"postUrl": "/api/answers/",
			"copyUrl": "/api/forms/id/copy",
			"previewUrl": "/forms/id/preview",
			"deleteUrl": "/api/forms/id/delete",
			"editUrl": "/forms/id/edit",
			"reportUrl": "/forms/id/responses",
			"sendUrl": "/api/forms/id/send",
			"statusUrl": "/api/forms/id/status",
			"getAllUrl": "/api/allforms",
			"setDefaultTab": "/api/setdefaulttab",
			"tab": "#{defaultTab}"
		}
	- if (unstable)
		script(type="text/javascript", src="/scripts/forms-new.js")
	-else
		script(type="text/javascript", src="/scripts/main.js")