include includes/head
	title Главная | SuperForms
	link(rel="stylesheet", href="/styles/react-widgets.css")
body
	header.forms
		nav.container
			- if (isAdmin)
				a(href='/users') Пользователи
				a.pre-active(href='/journal') Журнал
			div.triangle.triangle-left
			a.active Формы
			div.triangle.triangle-right
			include includes/signout
	
	div.container.create-form
		a.btn.btn-success(href="/forms/new") Создать форму 
	div#root.container
	script#info(type="application/json").
		{
			"getUrl": "/api/forms",
			"postUrl": "/api/answers/",
			"copyUrl": "/api/forms/id/copy",
			"previewUrl": "/forms/id/preview",
			"deleteUrl": "/api/forms/id/delete",
			"editUrl": "/forms/id/edit",
			"reportUrl": "/forms/id/responses",
			"sendUrl": "/api/forms/id/send",
			"statusUrl": "/api/forms/id/status"
		}
	script(type="text/javascript", src="/scripts/main.js")