include includes/head
	title Заполнение формы | SuperForms
	link(rel="stylesheet", href="/styles/react-widgets.css")
body.interview
	header.interview
		nav.narrow.container
			- if (isUser)
				- if (isAdmin)
					a(href='/users') Пользователи
				a.pre-active(href='/forms') Формы
				div.triangle.triangle-left
				a.active Заполнение формы
				div.triangle.triangle-right
				include includes/signout

			- else
				div.triangle.triangle-left
				a.active Заполнение формы
				div.triangle.triangle-right
				include includes/signin

	div#root.narrow.container.container-interview
	script#config(type="application/json").
		{
			"type": "INTERVIEW_FORM",
			"getUrl": "/api/forms/#{id}",
			"postUrl": "/api/forms/#{id}/responses",
			"redirectUrl": "/success"
		}
	script(type="text/javascript", src="/scripts/interview.js")