include includes/head
	title Журнал | SuperForms
	body
		header.forms
			nav.container
				a(href="/users").pre-active Пользователи
				div.triangle.triangle-left
				a.active Журнал
				div.triangle.triangle-right
				a.post-active(href='/forms') Формы
				include includes/signout
	title Журнал | SuperForms

	#root.container
	script#info(type="application/json").
		{
			"getUrl": "/api/forms",
			"postUrl": "/api/answers/",
			"copyUrl": "/api/forms/id/copy",
			"previewUrl": "/forms/id/preview",
			"deleteUrl": "/api/forms/id/delete",
			"editUrl": "/forms/id/edit",
			"reportUrl": "/forms/id/responses",
			"sendUrl": "/api/forms/id/send",
			"statusUrl": "/api/forms/id/status"
		}
	script(src="/scripts/react/react.min.js")
	script(src="/scripts/react/react-dom.min.js")
	script(src="/scripts/react/browser.min.js")
	script(src="/scripts/react/eventEmitter.js")
	script(type="text/babel", src="/scripts/journal.js")