include includes/head
	title Сообщение | SuperForms
body
	nav#page-header.navbar.navbar-default.navbar-fixed-top
		.container
			.row
				.col-md-2.col-lg-2.page-header-return
	div.container
		h3 #{title}
		p #{text}