include includes/head
		title Превью | SuperForms
		link(rel="stylesheet", href="/styles/react-widgets.css")
	body
		include includes/header
		div#root.container
		script#info(type="application/json").
			{
				"type": "PREVIEW_FORM",
				"getUrl": "/api/forms/#{id}",
				"copyUrl": "/api/forms/#{id}/copy",
				"reportUrl": "/forms/#{id}/newreport",
				"statusUrl": "/api/forms/#{id}/status"
			}
		script(type="text/javascript", src="/scripts/interview.js")