include includes/head
	title Превью | SuperForms
	link(rel="stylesheet", href="/styles/react-widgets.css")
body
	header.forms
		nav.narrow.container
			- if (isAdmin)
				a(href='/users') Пользователи
			a.pre-active(href='/forms') Формы
			div.triangle.triangle-left
			a.active Просмотр формы
			div.triangle.triangle-right
			include includes/signout
	//- div.col-md-4
	div#root.narrow.container
	//- div.col-md-4
	script#info(type="application/json").
		{
			"type": "PREVIEW_FORM",
			"getUrl": "/api/forms/#{id}",
			"copyUrl": "/api/forms/#{id}/copy",
			"reportUrl": "/forms/#{id}/newreport",
			"statusUrl": "/api/forms/#{id}/status"
		}
	script(type="text/javascript", src="/scripts/interview.js")