include includes/head
	title Сводка ответов | SuperForms
body
	header.responses
		nav.wide.container
			- if (isAdmin)
				a(href='/users') Пользователи
			a.pre-active(href='/forms') Формы
			div.triangle.triangle-left
			a.active Ответы
			div.triangle.triangle-right
			include includes/signout

	div#root.wide.container
	script#config(type="application/json").
		!{JSON.stringify(config)}
	script(type="text/javascript", src="/scripts/responses.js")