include includes/head
	title Сводка ответов | SuperForms
body
	header.responses
		nav.container
			- if (isAdmin)
				a.pull-left(href='/users') Пользователи
			a.pull-left.pre-active(href='/') Формы
			div.triangle.pull-left.triangle-left
			a.pull-left.active Ответы
			div.triangle.pull-left.triangle-right
			a.pull-right(href='#profile' title='Профиль' data-placement='left')
				span.glyphicon.glyphicon-user
					
	div#root.container
	script#info(type="application/json").
		{
			"getUrl": "/api/forms/#{id}/responses",
			"responsePreviewUrl": "/forms/#{id}/responses/response_id",
			"buildReportUrl": "/api/forms/#{id}/reports",
			"buildCSVUrl": "/api/forms/#{id}/responses/xlsx"
		}
	script(type="text/javascript", src="/scripts/report.js")