include includes/head
	title Просмотр ответа| SuperForms
	link(rel="stylesheet", href="/styles/react-widgets.css")
body
	header.responses
		nav.container
			- if (isAdmin)
				a.pull-left(href='/users') Пользователи
			a.pull-left(href='/') Формы
			a.pull-left.pre-active(href='/forms/' + id + '/responses') Ответы
			div.triangle.pull-left.triangle-left
			a.pull-left.active Просмотр ответа
			div.triangle.pull-left.triangle-right
			a.pull-right(href='#profile' title='Профиль' data-placement='left')
				span.glyphicon.glyphicon-user
		
	div#root.container
	script#info(type="application/json").
		{
			"type": "ANSWER_REVIEW",
			"getUrl": "/api/forms/#{id}/responses/#{response_id}"
		}
	script(type="text/javascript", src="/scripts/interview.js")