include includes/head
	title Просмотр ответа | SuperForms
	link(rel="stylesheet", href="/styles/react-widgets.css")
body
	header.responses
		nav.narrow.container
			- if (isAdmin)
				a(href='/users') Пользователи
			a(href='/forms') Формы
			a.pre-active(href='/forms/' + id + '/responses') Ответы
			div.triangle.triangle-left
			a.active Просмотр ответа
			div.triangle.triangle-right
			include includes/signout
		
	div#root.narrow.container
	script#config(type="application/json").
		{
			"type": "ANSWER_REVIEW",
			"getUrl": "/api/forms/#{form_id}/responses/#{response_id}"
		}
	script(type="text/javascript", src="/scripts/interview.js")