include includes/head
	title Сводка ответов | SuperForms
body
	header.responses
		nav.wide.container
			- if (isAdmin)
				a(href='/users') Пользователи
			a.pre-active(href='/forms') Формы
			div.triangle.triangle-left
			a.active Ответы
			div.triangle.triangle-right
			include includes/signout

	div#root.wide.container!= html
	script(type='text/javascript').
		window.__PRELOADED_STATE__ = !{JSON.stringify(preloadedState)}
	script(type="text/javascript", src="/scripts/report.js")