include includes/head
	title Пользователи | SuperForms
	body
		header.users
			nav.container
				div.triangle.triangle-left
				a.active Пользователи
				div.triangle.triangle-right
				a.post-active(href='/journal') Журнал
				a(href='/forms') Формы
				include includes/signout

		#root.container
		script(src="/scripts/react/react.min.js")
		script(src="/scripts/react/react-dom.min.js")
		script(src="/scripts/react/browser.min.js")
		script(src="/scripts/react/eventEmitter.js")
		script(type="text/babel", src="/scripts/users.js")