* {
  margin: 0;
}

body {
  background-color: #fefefe;
  color: #444;
}

input,
select,
button.btn-default {
  background-color: #fefefe !important;
}

button[disabled],
input[disabled] {
  cursor: default !important;
}

.has-error input::-webkit-input-placeholder {color:#d9534f !important;}
.has-error input::-moz-placeholder          {color:#d9534f !important;}/* Firefox 19+ */
.has-error input:-moz-placeholder           {color:#d9534f !important;}/* Firefox 18- */
.has-error input:-ms-input-placeholder      {color:#d9534f !important;}

body.no-header {
  padding-top: 0;
}

#header-root {
  margin-top: -3px;
}

#page-header {
  height: 80px;
}

#page-header .container {
  margin-top: 25px;
}

.page-header-return {
  font-size: 18px;
}

.page-header-return i {
  margin-right: 5px;
  margin-bottom: 3px;
  vertical-align: middle;
  font-size: 12px;
}

.page-header-return span {
  display: inline-block;
}

.page-header-info {
  margin-top: -2px;
}

.page-header-info p {
  margin: 0;
}

.page-header-save {
  font-size: 12px;
}

.page-header-status {
}


.page-header-btns {
  
}

.page-header-btns .btn-group {
  margin-right: 15px;
}

#signout i {
  margin-top: 5px;
  margin-right: 3px;
}

#root {
  margin-top: 30px;
  margin-bottom: 90px;
}

.questionGenerator:nth-child(odd) {
  background-color: #fafafa;
}

.questionGenerator {
  /*border-radius: 10px 10px;*/
  padding: 10px;
}

.questionListButton {
  margin-top: 14px;
}

.label-inline {
  margin-right: 15px;
}

.question-config-btn {
  margin-bottom: 5px;
}

.option-input {
  margin-bottom: 10px;
}

.loading-spinner-center {
  width: 120px;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -14px;
  margin-right: -60px;
}

.loading-spinner-center i,
.loading-spinner-center span {
  display: inline-block;
  vertical-align: middle;
}

.loading-spinner-center i {
  margin-right: 10px;
}

.loading-spinner-center span {
  font-family: sans-serif;
  font-size: 20px;
}

#sign-up-container {
  margin-top: 230px;
}

button[type="submit"] {
  margin-bottom: 30px;
}

table .form-group {
  margin: 0;
}

.react-bs-table-container {
  margin-bottom: 15px;
}

.th-btn {
  width: 140px;
}

/*.report-generation-container {
  height: 250px;
   overflow: auto;
}*/

.report-header h1 {
  display: inline-block;
}

.report-header .btn-tip {
  margin-top: -20px;
}

/*Список всех форм*/
.forms-list td {
  vertical-align: middle !important;
}

.forms-list thead tr th:last-child,
.forms-list tbody tr td:last-child {
  width: 220px;
}

.operations-btns {
  float: right;
}

.forms-list tbody tr {
  cursor: pointer;
}

.send-method-container label,
.send-method-container ul {
  display: inline-block;
  vertical-align: middle;
}

.send-method-container label {
  margin-right: 15px;
}

.send-method-container li {
  margin-right: 10px;
}

.send-form-modal blockquote,
.status-modal-container blockquote {
  font-size: 14px;
}

.copy-form-modal button[type="submit"] {
  margin-bottom: 0;
}

.all-answers-table-container tr {
  cursor: pointer;
}

.btn-tip {
  margin-left: 5px;
}

.btn-tip i {
  padding-left: 2px;
  padding-right: 2px;
}

.dropdown-toggle span:first-child {
  margin-right: 2px;
}

.back {
  font-size: 16px;
  text-transform: uppercase;
  color: #286090;
}

.Select-menu-outer {
  z-index: 4 !important;
}

/*Form Generator*/

.form-generator-wrapper {

}

.form-generator-preview-wrapper > .super-form {
  margin-top: 25px;
}

.form-generator {
  
}

.form-generator__submit-btn {

}

.form-generator__menu {
  margin-top: 10px;
  margin-bottom: 7px;
}

.form-generator-item {
  border: 7px solid white;
}

.form-generator-item:nth-child(even) {
  background-color: #f8f8f8;
  border: 7px solid #f8f8f8;
}

.form-generator-item__item-generator {
  
}

.form-generator-item__item-generator_type_header {
  
}

.form-generator-item__item-generator_type_question {
  
}

.form-generator-item__item-generator_type_delimeter {
  
}

.form-generator-item__item-generator_type_image {
  
}

.form-generator-item__serial-number {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
}

.form-generator-item__control-btn-group {
  float: right;
}

/*Form*/

.super-form {

}

.super-form__header {
  display: block;
  font-size: 24px;
  margin-bottom: 15px;
}

.super-form__item {

}

.super-form__item_type_question {
  
}

.super-form__item_type_delimeter {
  font-size: 18px;
}

.super-form__item_type_delimeter hr {
  
  margin-top: 0;
}

.super-form__item_type_image {
  
}


#signin {
  margin-top: 230px;
  color: #286090;
  text-align: center;
}

#signin input {
  margin-bottom: 10px;
}

#regPage h3 {
  color: #286090;
}

#reg > .alert {
  margin-bottom: 15px;
}

#reg .row {
  margin-left: 0;
  margin-right: 0;
}

#reg .help-block {
  margin-bottom: 0;
}

#reg .registration {
  padding-left: 3px;
  padding-right: 3px;
  margin-bottom: 5px;
}

#reg div.registration:first-of-type {
  padding-left: 0;
}

#reg div.registration:last-of-type {
  padding-right: 0;
}

#reg:after { 
  content: " ";
  display: block; 
  height: 0; 
  clear: both;
}



/* headers */
header { 
  height: 40px;
}

header.interview {
  background-color: #f0ad4e;
  border-color: #eea236;
}

header.error {
  background-color: #d9534f;
  border-color: #d43f3a;
}

header.users {
  background-color: #5bc0de;
  border-color: #46b8da;
}

#root .nav-pills .active a,
header.forms {
  background-color: #6391b9;
  border-color: #4377a4;
}

header.responses {
  background-color: #5cb85c;
  border-color: #4cae4c;
}


header nav.container {
  height: 100%;
}

header nav.container > a {
  position: relative;
  float: left;
  padding-left: 30px;
  padding-right: 30px;
  height: 100%;
  line-height: 38px;
  font-size: 18px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fefefe;
  outline: none;
}


header nav.container > a.pre-active {
  padding-right: 42px;
  margin-right: -12px;
}

header nav.container > a.active {
  background-color: #fefefe;
  color: #555;
  z-index: 2 !important;
}

header nav.container > a.post-active {
  margin-left: -12px;
}

header nav.container > a:hover {
  text-decoration: none;
}

header nav.container > a:not(.active):hover {
  opacity: .99;
  background-color: #f0ad4e;
  border-color: #eea236;
}

header.error nav.container > a:not(.active):hover {
  background-color: #c9302c;
  border-color: #ac2925;
}

header.users nav.container > a:not(.active):hover {
  background-color: #31b0d5;
  border-color: #269abc;
}

header.forms nav.container > a:not(.active):hover {
  background-color: #286090;
  border-color: #204d74;
}

header.responses nav.container > a:not(.active):hover {
  background-color: #449d44;
  border-color: #398439;
}

header nav.container span {
  font-size: 16px;
  line-height: 38px;
  color: white;
}

header .triangle {
  position: relative;
  float: left;
  width: 0; 
  height: 0; 
  z-index: 2 !important;
}

header .triangle-left {
  border-top: 40px solid transparent; 
  border-right: 12px solid #fefefe; 
}

header .triangle-right {
  border-top: 40px solid transparent; 
  border-left: 12px solid #fefefe; 
}

div.container.message {
  text-align: center;
}

.create-form > a {
  position: relative;
  top: 15px;
  float: right;
}

#journal tr {
  cursor: pointer;
}

#journal th {
  line-height: 16px;
}

@media (min-width: 1400px) {
  .wide {
    width: 1400px;
  }
}

@media (max-width: 1400px) {
  .wide {
    width: 90%;
  }
}

.narrow {
  width: 744px;
}

/* loading animation */ 
.glyphicon-refresh-animate {
    -moz-animation: spin .7s infinite linear;
    -webkit-animation: webkit-spin .7s infinite linear;
}

@-webkit-keyframes webkit-spin {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}


/*Super - Table*/
.super-table__row_empty {
  text-align: center;
}
 
.super-table__header .fa-sort-asc {
  padding-top: 5px;
}
 
.super-table__cell {
  vertical-align: middle !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
 
.super-table__column_clickable {
  cursor: pointer;
}
 
.super-table__row_clickable {
  cursor: pointer;
}
 
.super-table .dropdown {
  display: inline-block;
}
 
.super-table .dropdown .dropdown-toggle button {
  padding: 4px 6px 2px 6px;
  margin-left: 4px;
}
 
.super-table .dropdown .dropdown-toggle button:focus {
  outline: none;
}
 
.super-table .dropdown .dropdown-toggle i {
  display: block;
  
}
 
.super-table .dropdown .dropdown-toggle .fa-sort-asc {
  margin-bottom: -6px;
  margin-top: -8px;
}
 
.super-table .dropdown .dropdown-toggle .fa-sort-desc {
  margin-top: -8px;
}
 
/*FormsList Page*/
.nav-pretable {
  margin: auto;
  margin-bottom: 10px;
  width: 242px;
}
 
/*Forms List Table Styles*/
.super-table_name_form-list table {
  margin-bottom: 65px;
}
 
.super-table_name_form-list .super-table__column_id_control {
  width: 175px;
}
 
.super-table_name_journal .super-table__cell_id_title,
.super-table_name_form-list .super-table__cell_id_title {
  max-width: 500px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.super-table_name_journal .super-table__cell_id_basis > span,
.super-table_name_form-list .super-table__cell_id_basis > span {
  cursor: help;
}
 
/** Journal Table Styles*/
.super-table_name_journal table {
  margin-bottom: 65px;
}
 
.super-table_name_journal .super-table__column_id_control {
  width: 96px;
}
 
.loading-spinner span,
.loading-spinner .fa {
  display: inline-block;
  vertical-align: middle;
}
 
.loading-spinner span {
  margin-left: 5px;
}

/*Responses table*/

.form-responses .th-tip {
  vertical-align: top;
  margin-left: 5px;
  cursor: help;
}

.form-responses__header {

}

.form-responses__header .description {
  vertical-align: top;
  margin-left: 5px;
  cursor: help;
  font-size: 20px;
}

.form-responses__header .type {
  font-size: 16px;
}

.form-responses__header .type span:first-child,
.form-responses__header .basis span:first-child {
  display: inline-block;
  font-weight: 700;
  margin-right: 5px;
}

.form-responses__header .basis {
  font-size: 16px;
}

.super-form__header {
  margin-bottom: 22px;
}

.super-form__header-title {
  display: block;
  font-size: 34px;
}

.super-form__header-description {
  display: block;
  margin-top: 22px;
  font-size: 13px;
}

.form-interview .super-form__item {
}

.form-interview .super-form__item-title {
  font-size: 20px;
  font-weight: 400;
}

.form-interview .super-form__item-description {
  display: block;
  font-size: 13px;
}

.form-interview .super-form__item > input,
.form-interview .super-form__item > textarea,
.form-interview .super-form__item > div {
  margin-top: 12px;
}

.super-form__item_type_question {
  
}

.super-form__item_type_delimeter {
  margin-top: 16px;
  margin-bottom: 16px;
}

.form-interview .super-form__item_type_delimeter .super-form__item-title {
  font-size: 28px;
  font-weight: 400;
}

.super-form__item_type_delimeter hr {
  margin-top: 0;
}