* {
  margin: 0;
}

body {
  background-color: #fefefe;
  color: #444;
}

input,
select,
button.btn-default {
  background-color: inherit !important;
}

button[disabled],
input[disabled] {
  cursor: default !important;
}

.has-error input::-webkit-input-placeholder {color:#d9534f !important;}
.has-error input::-moz-placeholder          {color:#d9534f !important;}/* Firefox 19+ */
.has-error input:-moz-placeholder           {color:#d9534f !important;}/* Firefox 18- */
.has-error input:-ms-input-placeholder      {color:#d9534f !important;}

body.no-header {
  padding-top: 0;
}

#header-root {
  margin-top: -3px;
}

#page-header {
  height: 80px;
}

#page-header .container {
  margin-top: 25px;
}

.page-header-return {
  font-size: 18px;
}

.page-header-return i {
  margin-right: 5px;
  margin-bottom: 3px;
  vertical-align: middle;
  font-size: 12px;
}

.page-header-return span {
  display: inline-block;
}

.page-header-info {
  margin-top: -2px;
}

.page-header-info p {
  margin: 0;
}

.page-header-save {
  font-size: 12px;
}

.page-header-status {
}


.page-header-btns {
  
}

.page-header-btns .btn-group {
  margin-right: 15px;
}

#signout i {
  margin-top: 5px;
  margin-right: 3px;
}

#root {
  margin-top: 30px;
}

.questionGenerator:nth-child(odd) {
  background-color: #fafafa;
}

.questionGenerator {
  /*border-radius: 10px 10px;*/
  padding: 10px;
}

.questionListButton {
  margin-top: 14px;
}

.label-inline {
  margin-right: 15px;
}

.question-config-btn {
  margin-bottom: 5px;
}

.option-input {
  margin-bottom: 10px;
}

.loading-spinner-center {
  width: 120px;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -14px;
  margin-right: -60px;
}

.loading-spinner-center i,
.loading-spinner-center span {
  display: inline-block;
  vertical-align: middle;
}

.loading-spinner-center i {
  margin-right: 10px;
}

.loading-spinner-center span {
  font-family: sans-serif;
  font-size: 20px;
}

#sign-up-container {
  margin-top: 230px;
}

button[type="submit"] {
  margin-bottom: 30px;
}

table .form-group {
  margin: 0;
}

.react-bs-table-container {
  margin-bottom: 15px;
}

.th-btn {
  width: 140px;
}

/*.report-generation-container {
  height: 250px;
   overflow: auto;
}*/

.report-header h1 {
  display: inline-block;
}

.report-header .btn-tip {
  margin-top: -20px;
}

/*Список всех форм*/
.forms-list td {
  vertical-align: middle !important;
}

.forms-list thead tr th:last-child,
.forms-list tbody tr td:last-child {
  width: 220px;
}

.operations-btns {
  float: right;
}

.forms-list tbody tr {
  cursor: pointer;
}

.send-method-container label,
.send-method-container ul {
  display: inline-block;
  vertical-align: middle;
}

.send-method-container label {
  margin-right: 15px;
}

.send-method-container li {
  margin-right: 10px;
}

.send-form-modal blockquote,
.status-modal-container blockquote {
  font-size: 14px;
}

.copy-form-modal button[type="submit"] {
  margin-bottom: 0;
}

.all-answers-table-container tr {
  cursor: pointer;
}

.btn-tip {
  margin-left: 5px;
}

.btn-tip i {
  padding-left: 2px;
  padding-right: 2px;
}

.dropdown-toggle span:first-child {
  margin-right: 2px;
}

.back {
  font-size: 16px;
  text-transform: uppercase;
  color: #286090;
}

.Select-menu-outer {
  z-index: 4 !important;
}

/*Form Generator*/

.form-generator-wrapper {

}

.form-generator-preview-wrapper > .super-form {
  margin-top: 25px;
}

.form-generator {
  
}

.form-generator__submit-btn {

}

.form-generator__menu {
  margin-top: 10px;
  margin-bottom: 7px;
}

.form-generator-item {
  border: 7px solid white;
}

.form-generator-item:nth-child(even) {
  background-color: #f8f8f8;
  border: 7px solid #f8f8f8;
}

.form-generator-item__item-generator {
  
}

.form-generator-item__item-generator_type_header {
  
}

.form-generator-item__item-generator_type_question {
  
}

.form-generator-item__item-generator_type_delimeter {
  
}

.form-generator-item__item-generator_type_image {
  
}

.form-generator-item__serial-number {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
}

.form-generator-item__control-btn-group {
  float: right;
}

/*Form*/

.super-form {

}

.super-form__header {
  display: block;
  font-size: 24px;
  margin-bottom: 15px;
}

.super-form__item {

}

.super-form__item_type_question {
  
}

.super-form__item_type_delimeter {
  font-size: 18px;
}

.super-form__item_type_delimeter hr {
  
  margin-top: 0;
}

.super-form__item_type_image {
  
}


#signin {
  margin-top: 230px;
  color: #286090;
  text-align: center;
}

#signin input {
  margin-bottom: 10px;
}

#regPage h3 {
  color: #286090;
}

#reg > .alert {
  margin-bottom: 15px;
}

#reg .row {
  margin-left: 0;
  margin-right: 0;
}

#reg .help-block {
  margin-bottom: 0;
}

#reg .registration {
  padding-left: 3px;
  padding-right: 3px;
  margin-bottom: 5px;
}

#reg div.registration:first-of-type {
  padding-left: 0;
}

#reg div.registration:last-of-type {
  padding-right: 0;
}

#reg:after { 
  content: " ";
  display: block; 
  height: 0; 
  clear: both;
}


header { 
  height: 40px;
}

header.interview {
  background-color: #f0ad4e;
  border-color: #eea236;
}

header.error {
  background-color: #d9534f;
  border-color: #d43f3a;
}

header.users {
  background-color: #5bc0de;
  border-color: #46b8da;
}

header.forms {
  background-color: #6391b9;
  border-color: #4377a4;
}

header.responses {
  background-color: #5cb85c;
  border-color: #4cae4c;
}


header nav.container {
  height: 100%;
}

header nav.container > a {
  position: relative;
  float: left;
  padding-left: 30px;
  padding-right: 30px;
  height: 100%;
  line-height: 38px;
  font-size: 18px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fefefe;
  outline: none;
}


header nav.container > a.pre-active {
  padding-right: 42px;
  margin-right: -12px;
}

header nav.container > a.active {
  background-color: #fefefe;
  color: #555;
  z-index: 2 !important;
  /*border-radius: 10px;*/
}

header nav.container > a.post-active {
  /*padding-left: 42px;*/
  margin-left: -12px;
}

header nav.container > a:hover {
  text-decoration: none;
}

header nav.container > a:not(.active):hover {
  opacity: .99;
  background-color: #f0ad4e;
  border-color: #eea236;
}

header.error nav.container > a:not(.active):hover {
  background-color: #c9302c;
  border-color: #ac2925;
}

header.users nav.container > a:not(.active):hover {
  background-color: #31b0d5;
  border-color: #269abc;
}

header.forms nav.container > a:not(.active):hover {
  background-color: #286090;
  border-color: #204d74;
}

header.responses nav.container > a:not(.active):hover {
  background-color: #449d44;
  border-color: #398439;
}

header nav.container span {
  font-size: 16px;
  line-height: 38px;
  color: white;
}

header .triangle {
  position: relative;
  float: left;
  width: 0; 
  height: 0; 
  z-index: 2 !important;
}

header .triangle-left {
  border-top: 40px solid transparent; 
  border-right: 12px solid #fefefe; 
}

header .triangle-right {
  border-top: 40px solid transparent; 
  border-left: 12px solid #fefefe; 
}

div.container.message {
  text-align: center;
}


.create-form {
  /*height: 0;*/
}

.create-form > a {
  position: relative;
  top: 15px;
  float: right;
}

#journal tr {
  cursor: pointer;
}

#journal th {
  line-height: 16px;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align: middle;
  margin-left: 7px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #337ab7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.table-forms-list tr {
  cursor: pointer;
}
 
.table-forms-list td {
  vertical-align: middle !important;
  /*padding-top: 4px !important;*/
  /*padding-bottom: 4px !important;*/
}
 
.th-table-forms-list_form-index {
  width: 45px;
}
 
.th-table-forms-list_form-control {
  width: 175px;
  min-width: 175px;
  max-width: 175px;
}

.table-forms-list td:last-of-type button {
  border: none;
}